<link href="css/basicos.css" rel="stylesheet">

<div class="default-page">
    <div class="header" onclick="window.location='/';"> 
        <h1 id="main-title" class="container">Creador de cositas chulas</h1>
    </div>
    <div class="main container clearfix">
        <ul class="getting-started">

	<a href="/">patras</a>
    <h3>Person Create form</h3>
    
   
    
    <form action="/user/crear" method="post">
	<div class="control-group">
	<input type="text" class="form-control" placeholder="tu nombre" name="name">
    <input type="text" class="form-control" placeholder="tu edad" name="age">
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account"/>
</form>
</ul>
    </div>
</div>
